.main-screen {
  background-color: var(--white1);
  padding: 0 10%;
  height: 100vh;
}

.main-screen nav:first-of-type {
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.main-screen nav button span div.nav-menu {
    width: 1.5rem;
    height: 1.5rem;
}

.main-screen nav button span div.nav-menu div {
    width: 1.5rem;
    height: 0.3rem;
    margin: 0.2rem 0;
    background-color: black;
}

.main-screen nav #navbarTogglerDemo01 .header_region span:first-of-type {
  font-weight: 300;
}

.main-screen nav #navbarTogglerDemo01 form {
  border: 1px solid gray;
  margin-right: 5%;
}

.main-screen nav #navbarTogglerDemo01 form input {
  border: none;
  border-radius: 0;
  font-weight: 300;
  background-color: var(--white1);
  box-shadow: none;
}

.main-screen nav #navbarTogglerDemo01 form button {
  border: none;
  border-radius: none;
  background-color: var(--white1);
  box-shadow: none;
}

.main-screen nav #navbarTogglerDemo01 form button:hover img {
    opacity: 0.5;
}

.main-screen nav #navbarTogglerDemo01 ul li a {
    color: black;
}

.main-screen nav #navbarTogglerDemo01 ul li a:hover {
    color: gray;
}

.main-screen nav:last-of-type div div.col {
  pointer-events: none;
}

.main-screen nav:last-of-type div div a {
  pointer-events: auto;
}

.main-screen nav:last-of-type div div.col:hover {
  background-color: var(--pink);
}

.main-screen nav:last-of-type > div.row {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-screen nav:last-of-type div:last-of-type div {
  z-index: 10;
}

.main-screen nav:last-of-type div:last-of-type img {
  bottom: 0;
  right: 0;
}

.main-screen nav:last-of-type div:last-of-type > div p.h1 {
  font-family: 'Roboto';
  font-size: 40pt;
}

.main-screen nav:last-of-type div:last-of-type > div a button {
  width: 200px;
  height: 50px;
}